.message{
    position: relative;
    padding: var(--section-padding-top) 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message::after{
     content: '';
     display: inline-block;
     position: absolute;
     top: 0;
     right: 0;
     width: 8vw;
     height: 8vw;
     background-color: var(--primary-color);
     clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.message::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8vw;
    height: 8vw;
    background-color: var(--primary-color);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
}

.message p{
    text-align: center;
    width: 50%;
    font-size: 1.4rem;
    line-height: 200%;
    font-weight: 500;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .message p{
        width: 66%;
        font-size: 1.4rem;
    }
    .message::after{
        width: 12vw;
        height: 12vw;
   }
   .message::before{
       width: 12vw;
       height: 12vw;
   }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .message p{
        width: 80%;
        font-size: 1.5rem;
    }
    .message::after{
        width: 16vw;
        height: 16vw;
   }
   .message::before{
       width: 16vw;
       height: 16vw;
   }
}